:root {
  --left-main: #72c2a47e;
  --left-input-card: #0c0d14;
  --right-game-table: ;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  background-image: url(/assets/img/BG.png);
  background-repeat: no-repeat;
}

/* INPUT SECTION COLUMN */
.main-container {
  height: 100vh;
}

.row {
  height: 100%;
}

.input-section {
  font-family: "DM Sans", sans-serif;
  padding: 10px;
  text-align: center;
  background-color: var(--left-main);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* .header-title {
  margin: 60px 20px 30px;
} */

.title {
  font-family: "VT323", monospace;
  color: rgb(247, 247, 247);
  letter-spacing: 0.1em;
  text-shadow: rgb(255, 255, 255) 0px -1px 0px, rgb(46, 46, 46) 0px 1px 0px,
    rgb(44, 44, 44) 0px 2px 0px, rgb(42, 42, 42) 0px 3px 0px,
    rgb(40, 40, 40) 0px 4px 0px, rgb(38, 38, 38) 0px 5px 0px,
    rgb(36, 36, 36) 0px 6px 0px, rgb(34, 34, 34) 0px 7px 0px,
    rgb(32, 32, 32) 0px 8px 0px, rgb(30, 30, 30) 0px 9px 0px,
    rgb(28, 28, 28) 0px 10px 0px, rgb(26, 26, 26) 0px 11px 0px,
    rgb(24, 24, 24) 0px 12px 0px, rgb(22, 22, 22) 0px 13px 0px,
    rgb(20, 20, 20) 0px 14px 0px, rgb(18, 18, 18) 0px 15px 0px,
    rgba(0, 0, 0, 0.9) 0px 22px 30px;
  --darkreader-inline-color: #d3cfca;
  --darkreader-inline-bgimage: none;
}

.card-input-section {
  min-height: 70vh;
  background-color: var(--left-input-card);
  color: #fff;
  /* box-shadow: 5px 5px 5px 5px red; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-body {
  text-align: left;
  padding: 20px;
}

#form-input {
  height: 100%;
}

.btn {
  background-color: #4f7e7c;
  color: #fff;
}

.btn:hover {
  background-color: #4fbf6e;
}
.btn:active {
  background-color: #4fbf6e;
}

#search-button {
  background-color: #53a788;
  color: #fff;
}

.clearHistoryButton {
  background-color: #902e29;
}

.clearHistoryButton:hover {
  background-color: #bb342d;
}

/* OUTPUT SECTION COLUMN */
.output-section {
  /* background-color: rgb(12, 13, 20);
  background: linear-gradient(
    0deg,
    rgba(12, 13, 20, 1) 0%,
    rgba(24, 28, 40, 1) 100%
  ); */

  /* background-image: url(/assets/img/BG.png); */

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-output-section {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.719);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  min-height: 40vh;
}

#game-description-wrapper {
  color: #fff;
}

.game-description {
  height: 250px;
  margin-right: 20px;
  padding-right: 10px;
}

.deal-table {
  color: #fff;
  margin: 0;
  text-align: center;
  border-color: inherit;
}

.buyButton {
  display: block;
  background: #4e9caf;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
}

#deals-table tr:nth-child(odd) {
  background-color: #0000004b;
  color: white;
}
